[tool.black]
line-length = 88
target-version = ["py311"]
extend-exclude = '''
(
  venv
  | .venv
  | env
  | build
  | dist
  | __pycache__
  | \.git
)
'''

[tool.ruff]
target-version = "py311"
line-length = 88
fix = true

[tool.ruff.lint]
select = ["E", "F", "I"]
ignore = ["E203", "E501"]
fixable = ["ALL"]

[tool.ruff.lint.isort]
combine-as-imports = true
known-first-party = []
